.coupon {
  h1 {
    display: block;
    width: 100%;
  }

  h1,
  p {
    text-align: center;
  }

  .checkoutHeader {
    border-bottom: 3px solid black;
  }

  .cart {
    max-width: 100rem;
    margin: 0 auto;

    table {
      width: 100%;
    }
  }

  .checkoutHeader,
  .cart {
    width: 100%;
    text-align: left;

    th,
    td {
      width: 22%;
    }
  }

  .coupon-row {
    padding: 2rem 0;
  }

  .coupon-data {
    &:nth-child(even) {
      background-color: #d3d3d3;
    }
  }

  .exit {
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 2.25rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: rgb(128, 128, 128);
    }
  }
}
